{% load static %}
{% load website_tags %} <!-- برای استفاده از تگ render_footer_menu -->

<!-- ========== FOOTER ========== -->
<footer class="border-top">
  <div class="container">
    <div class="row justify-content-lg-between content-space-t-2 content-space-b-lg-2">
      
      <!-- ستون ۱: لوگو و برند -->
      <div class="col-lg-3 mb-5">
        <div class="d-flex align-items-start flex-column h-100">
          <a class="w-100 mb-3 mb-lg-auto" href="{% url 'website:home' %}" aria-label="Front">
            <img class="brand" src="{% static 'svg/logos/logo.svg' %}" alt="Logo">
          </a>
          <p class="text-muted small mb-0">&copy; Benyamin 2023 Front RTL</p>
        </div>
      </div>
      <!-- End Col -->

      {% render_footer_menu %}

    </div>
    <!-- End Row -->

    <hr class="my-0">

    <div class="row align-items-sm-center content-space-1">
      <div class="col-sm mb-4 mb-sm-0">
        {% render_socialmedia %}
      </div>

      <div class="col-sm-auto">
        <ul class="list-inline list-separator">
          <li class="list-inline-item">
            <a class="link-sm link-secondary" href="/page-privacy.html">حریم خصوصی و خط مشی</a>
          </li>
          <li class="list-inline-item">
            <a class="link-sm link-secondary" href="/page-terms.html">مقررات و شرایط</a>
          </li>
          <li class="list-inline-item">
            <a class="link-sm link-secondary" href="/#">مشاغل</a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</footer>
<!-- ========== END FOOTER ========== -->