{% load static %}
<!-- Hero -->
<div class="position-relative">
  <!-- Swiper Main Slider -->
  <div class="js-swiper-shop-classic-hero swiper bg-light">
    <div class="swiper-wrapper">
      
      {% for slider in herosliders %}
      <!-- Slide -->
      <div class="swiper-slide">
        <!-- Container -->
        <div class="container content-space-t-2 content-space-b-3">
          <div class="row align-items-lg-center">
            <div class="col-lg-5 order-lg-2 mb-7 mb-lg-0">
              <div class="mb-6">
                <h1 class="display-4 mb-4">{{ slider.title }}</h1>
                <p>{{ slider.description }}</p>
              </div>

              <div class="d-flex gap-2">
                <a class="btn btn-primary rounded-pill" href="{% url 'shop:detail' slider.id %}">نمایش جزئیات محصول</a>
              </div>
            </div>

            <div class="col-lg-6 order-lg-1">
              <div class="w-75 mx-auto">
                <img class="img-fluid" src="{{ slider.image.url }}" alt="{{ slider.title }}" />
              </div>
            </div>
          </div>
        </div>
      </div>
      {% endfor %}

    </div>

    <!-- Arrows -->
    <div class="js-swiper-shop-classic-hero-button-prev swiper-button-prev"></div>
    <div class="js-swiper-shop-classic-hero-button-next swiper-button-next"></div>
  </div>

  <!-- Swiper Thumbs Slider (آیکون‌های پایین) -->
  <div class="position-absolute bottom-0 start-0 end-0 mb-3">
    <div class="js-swiper-shop-hero-thumbs swiper" style="max-width: 13rem">
      <div class="swiper-wrapper">
        
        {% for icon in all_icons %}
            <div class="swiper-slide">
              <a class="js-swiper-thumb-progress swiper-thumb-progress-avatar" href="javascript:;" tabindex="0">
                <img class="swiper-thumb-progress-avatar-img" src="{{ icon.image.url }}" alt="{{ icon.title|default:'آیکون' }}" />
              </a>
            </div>
        {% endfor %}

      </div>
    </div>
  </div>
</div>