{% load static %}
<!-- Icon Blocks -->
<div class="border-bottom">
  <div class="container content-space-2">
    <div class="row">
      
      {% for feature in features %}
      <div class="col-md-4 mb-7 mb-md-0">
        <!-- Icon Block -->
        <div class="d-flex">
          <div class="flex-shrink-0">
            <img
              class="ps-2 avatar avatar-4x3"
              src="{{ feature.icon.url }}"
              alt="{{ feature.title }}"
            />
          </div>
          <div class="flex-grow-1 ms-4">
            <h4 class="mb-1">{{ feature.title }}</h4>
            <p class="small mb-0">{{ feature.description }}</p>
          </div>
        </div>
        <!-- End Icon Block -->
      </div>
      <!-- End Col -->
      {% empty %}
      <div class="col-12 text-center text-muted py-5">
        هنوز ویژگی‌ای ثبت نشده است.
      </div>
      {% endfor %}

    </div>
    <!-- End Row -->
  </div>
</div>
<!-- End Icon Blocks -->