{% extends "base.html" %}
{% load website_tags %}
{% load static %}
{% comment %} {% load shop_tags %} {% endcomment %}
{% block content %}

{% render_hero_slider %}


{% render_store_features %}

<!-- Card Grid -->
<div class="container content-space-2 content-space-lg-3">
  <!-- Heading -->
  <div class="w-md-75 w-lg-50 text-center mx-md-auto mb-5 mb-md-9">
    <h2>خرید بهترین محصولات در فروشگاه</h2>
  </div>
  <!-- End Heading -->
  <div class="row mb-2">
    {% comment %} {% popular_product "Samsung" %}
    {% popular_product "Iphone" %}
    {% popular_product "Pixle" %} {% endcomment %}
    <!-- End Col -->
  </div>
  <!-- End Row -->

  <div class="text-center">
    <p class="small">فروش ویژه محصولات برای مدت زمانی محدود</p>
  </div>
</div>
<!-- End Card Grid -->

<!-- Card Grid -->
<div class="container">
  <div class="row">
    <div class="col-md-6 mb-4 mb-md-0">
      <!-- Card -->
      <div
        class="card card-lg bg-img-start"
        style="
          background-image: url({% static 'img/900x900/img3.jpg' %});
          min-height: 30rem;
        "
      >
        <div class="card-body">
          <span class="card-subtitle text-danger">فقط برای زمانی محدود</span>
          <h2 class="card-title display-4">70% تخفیف</h2>

          <div class="w-md-65">
            <!-- Countdown -->
            <div class="js-countdown row mb-5">
              <div class="col-4 text-center">
                <div class="border border-dark rounded-2 p-2 mb-1">
                  <span class="js-cd-days h2"></span>
                </div>

                <h5 class="card-title">روزها</h5>
              </div>
              <!-- End Col -->

              <div class="col-4 text-center">
                <div class="border border-dark rounded-2 p-2 mb-1">
                  <span class="js-cd-hours h2"></span>
                </div>

                <h5 class="card-title">ساعت ها</h5>
              </div>
              <!-- End Col -->

              <div class="col-4 text-center">
                <div class="border border-dark rounded-2 p-2 mb-1">
                  <span class="js-cd-minutes h2"></span>
                </div>

                <h5 class="card-title">دقیقه</h5>
              </div>
              <!-- End Col -->

              <div class="col-4 d-none text-center">
                <div class="border border-dark rounded-2 p-2 mb-1">
                  <span class="js-cd-seconds h2"></span>
                </div>

                <h5 class="card-title">ثانیه</h5>
              </div>
              <!-- End Col -->
            </div>
            <!-- End Row -->
          </div>

          <a
            class="btn btn-light btn-sm btn-transition rounded-pill px-6"
            href="#"
            >خرید کنید</a
          >
        </div>
      </div>
      <!-- End Card -->
    </div>

    <div class="col-md-6">
      <!-- Card -->
      <div
        class="card card-lg bg-img-start"
        style="
          background-image: url({% static 'img/900x900/img4.jpg' %});
          min-height: 30rem;
        "
      >
        <div class="card-body">
          <div class="mb-4">
            <h2 class="card-title text-white">$109.99</h2>
            <h3 class="card-title text-white">دوچرخه Nakto 26</h3>
            <p class="card-text text-white">
              دوچرخه های NAKTO برای نجات محیط زیست و به ارمغان آوردن سرگرمی برای
              دوستانمان!
            </p>
          </div>

          <a
            class="btn btn-light btn-sm btn-transition rounded-pill px-6"
            href="#"
            >خرید کنید</a
          >
        </div>
      </div>
      <!-- End Card -->
    </div>
  </div>
</div>
<!-- End Card Grid -->

{% comment %} {% show_latest_products %} {% endcomment %}

<!-- Subscribe -->
<div class="bg-light">
  <div class="container content-space-2">
    <div class="w-md-75 w-lg-50 text-center mx-md-auto">
      <div class="row justify-content-lg-between">
        <!-- Heading -->
        <div class="mb-5">
          <span class="text-cap">ثبت نام</span>
          <h2>اخبار جدید را دریافت کنید</h2>
        </div>
        <!-- End Heading -->

        <form>
          <!-- Input Card -->
          <div class="input-card input-card-pill input-card-sm border mb-3">
            <div class="input-card-form">
              <label for="subscribeForm" class="form-label visually-hidden"
                >ایمیل را وارد کنید</label
              >
              <input
                type="text"
                class="form-control form-control-lg"
                id="subscribeForm"
                placeholder="ایمیل خود را وارد نمایید"
                aria-label="ایمیل خود را وارد کنید"
              />
            </div>
            <button type="button" class="btn btn-primary btn-lg rounded-pill">
              ثبت نام
            </button>
          </div>
          <!-- End Input Card -->
        </form>

        <p class="small">
          می توانید در هر زمانی اشتراک خود را لغو کنید
          <a href="#">سیاست حفظ حریم خصوصی</a> ما را بخوانید
        </p>
      </div>
    </div>
  </div>
</div>
<!-- End Subscribe -->

{% render_brand_logos %}

{% endblock content %}

{% block extera-js %}
<script>
  function addProd(product_id) {
    $.ajax({
    type: "POST",
    url: "{% url 'website:home' %}",
    data: {
      'product_id': product_id,
      csrfmiddlewaretoken: '{{ csrf_token }}',
    },
    success: function(response){
      $('#cart-item-count').html(response.total_quantity)
      console.log(response)
    },
    error: function(jqXHR,textStatus,errorThrown) {
      console.log(response)
    }
  });
  }
  </script>
{% endblock extera-js %}